header{
    background-color: rgba(0, 162, 255, 0.164);
    padding: 18px;
    text-align: center;
}

header h2{
    color: rgb(0, 153, 255);
    text-align: center;
}

.container{
    border: 1px solid rgb(20, 130, 220);
    border-radius: 30px;
    margin: auto;
    margin-top: 20px;
    width: 50%;
    padding: 8px;
    text-align: center;
}

.letraCal{
    background-color: rgba(0, 162, 255, 0.164);
    padding: 8px;
    margin: 10px;
    border-radius: 30px;
}

.letraCal h1{
    color: rgb(0, 153, 255);
}

.corpo{
    background-color: rgba(0, 162, 255, 0.164);
    padding: 8px;
    margin: 4px;
    border-radius: 30px;
}

.controles{
    width: 98%;
    text-align: center;
    border: 1px solid rgb(20, 130, 220);
    border-radius: 30px;
    padding: 5px;
    margin-bottom: 4px;
}

.letraResu{
    background-color: rgba(0, 162, 255, 0.164);
    padding: 1px;
    margin: 10px;
    border-radius: 30px;
}

.letraResu h1{
    color: rgb(0, 153, 255);
}

.resuta2{
    outline:  1px solid rgb(0, 153, 255);
    background-color: rgba(0, 162, 255, 0.164);
    padding: 50px;
}

.DivFooter{
    padding: 1rem 1rem;
    position: relative;
    background-color:  rgba(0, 162, 255, 0.164);   
}

.DivFooter h2{
    color: rgb(0, 153, 255);
}

.DivFooter a{
    color: rgb(0, 153, 255);
}

.container button{
    background-color: rgba(0, 162, 255, 0.164);
    margin: 10px;
    padding: 5px;
    border: 1px solid rgb(20, 130, 220);
    border-radius: 30px;
    font-weight: bolder;
    color:  rgba(0, 153, 255);
}

nav{
    padding: 20px;
    display: flex;
    background-color: #7d27c9;
}

.nav-item{
    padding-left: 20px;
    padding-right: 20px;
}

.nav-item a{
    text-decoration: none;
    color: #fff;
    font-size: larger;
    font-weight: bold;
}

.nav-item a:hover{
    color: aqua;
}

.nav-item-active{
    color: aqua !important;
}